.recommend__card {
  width: 100%;

  padding:0;
  margin: 0.8rem 0;
  background-color:#F0F1F4 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}

.MuiCardContent-root {
  padding: 1rem !important;
}


.recommend {
  margin-left: 1rem;
}

.recommended__content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.username {
  font-style: normal;
  line-height: 19px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  font-size: 20px;
  font-weight: 500;
}

.userPosition {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.watchVideo__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 140px;

  margin-left: 0.5rem;

  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.watchBtn__text {
  font-weight: 500;
  font-size: 12px;
}

.watchVideo__btn:hover {
  background-color: rgb(211, 208, 208);
}

.video__log:hover {
  background-color: #f0f0f0;
}

.video__log {
  padding: 0 10px;
  background-color: #f0f1f4;
  border-radius: 20px;
}
