.maincontainer{
  display: flex;
  padding-top: 69px;
}
  
.confirmpass_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 70px );
    width: 350px;
    background: rgba(232, 234, 239, 0.45);
  }
  
  .confirmpass_container {
    width: 90%;
  }
  
  .createpass {
    font-size:29px !important;
    font-weight:500 !important;
  }
 
  .btn {
    margin-left: 5%;
  }
  .submit_btn {
    width: 94%;
  }
  
