/* .app__bar{
    background-color:white !important;
    height: 70px;
}


.appbar__img{
   height: 60px;
   width: 60px;
    margin-left: 20px;
}
.tool__bar{
    color:"balck" !important;
    display:"flex" !important;
    justify-content: space-around;
    height: 100% !important;
    border: 1px solid !important;
}
.header_buttons{

    width: 40%;
    display: flex;
    justify-content: space-between;
} */
.app__bar{
    background-color:white !important;
    height: 70px;
    position: relative;

}

.image__div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}
.tool__bar{
    color:"balck" !important;
    display:"flex" !important;
    justify-content: space-between;
    height: 100% !important;
}

.left__navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.header__menu{
    height: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.menu__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    height: 100% !important;
    padding: 0 1.5rem ;
}