.post_container{
   border-radius: 8px;
  /* border: 1px solid; */
   /* margin-top: 70px; */
   display: flex;
   justify-content: center;
  padding: 2%;
  
  
}
.post_card{
    background-color: #F0F1F4 !important;
    
}
.post_container>*{
    width: 600px !important;
}

.header__info{
    display: flex;
    align-items: center;
}

.postdescseemore{
    display: flex;
    flex-direction: row-reverse;
    color: rgb(54, 54, 54);
    font-weight: 700;
   
}

.postdescseemore:hover{
    cursor: pointer;
}
.subtitle{
 display: flex;   
 justify-content: space-between;
}
.more_icon{
    font-size: xx-large;
    font-weight: 900;
}
.post_buttons{
    display: flex;
    width: 200px;
    justify-content: space-around;
    
}
.post_buttons:hover{
    cursor: pointer;
}
.post_icon{
    width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.post_icon>*{
    margin-right: 5px;
}
.blank_line{
    width: 95%;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
}



 
 